
<footer class="nk-footer">
    <div class="nk-footer-cont">
        <div class="container text-xs-center">
            <div class="nk-footer-social">
                <ul>
                    <li><a href="https://www.facebook.com/caitlynkodric"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="https://github.com/caitlynkodric"><i class="fa fa-github"></i></a></li>
                    <li><a href="https://linkedin.com/caitlynkodric"><i class="fa fa-linkedin-square"></i></a></li>
                    <li><a href="https://www.instagram.com/caitlynkodric"><i class="fa fa-instagram"></i></a></li>
                    <li><a href="https://dribbble.com/ckodric"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>

            <div class="nk-footer-text">
                <p>CMYK | Caitlyn Michele Ya Kodric</p>
            </div>
        </div>
    </div>
</footer>