---
layout: project
---

    <div class="nk-main">
        <div class="container">
            <div class="nk-portfolio-single">

                <div class="nk-gap-4 mb-14"></div>
                <h1 class="nk-portfolio-title display-4">{{page.display}}</h1>
                <div class="row vertical-gap">
                    <div class="col-lg-8">
                        <div class="nk-portfolio-info">
                            <div class="nk-portfolio-text">
                                <h3 class="nk-portfolio-title">{{page.first_title}}</h3>
                                <p>
                                    {{page.descript}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <table class="nk-portfolio-details">
                            <tr>
                                <td>
                                    <strong>Project:</strong>
                                </td>
                                <td>{{page.project}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Date:</strong>
                                </td>
                                <td>{{page.date}}</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Tools:</strong>
                                </td>
                                <td>{{page.tools}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-lg-12">
                        <div class="nk-portfolio-info">
                            <div class="nk-portfolio-text">
                                {{content}}
                            </div>
                        </div>        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- START: Scripts -->

    <script src="assets/js/combined.js"></script>
    <script src="assets/js/custom.js"></script>    
    <!-- END: Scripts -->