---
layout: default
---

  <div class="row centered mt mb">

      {{content}}
      
        <!-- START: Pagination -->
        <div class="nk-pagination nk-pagination-center">
            <div class="container">
                <a class="nk-pagination-prev" href="{{ page.last }}.html">
                    <span class="pe-7s-angle-left"></span> Previous Work</a>
                <a class="nk-pagination-center" href="portfolio.html">
                    <span class="nk-icon-squares"></span>
                </a>
                <a class="nk-pagination-next" href="{{ page.next }}.html">Next Work <span class="pe-7s-angle-right"></span> </a>
            </div>
        </div>
        <!-- END: Pagination -->

  </div>