<div id="contact">
    <div class="container marginBottom60" >
        <div class="row centered">

            <header>Say Hello!</header>

            <form id="form" name="sentMessage" class="topBefore" novalidate>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input id="name" type="text" placeholder="NAME" name="senderName" required data-validation-required-message="Please enter your name.">
                        
                        <input id="email" type="email" placeholder="E-MAIL" name="senderEmail" required data-validation-required-message="Please enter your email address.">
                        
                        <input id="subject" type="text" placeholder="SUBJECT" name="senderSubject" required data-validation-required-message="Please enter a subject.">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <textarea id="message" type="text" placeholder="MESSAGE" name="senderMessage" required data-validation-required-message="Please enter a message."></textarea>
                        <input id="submit" type="submit" value="GO!">
                    </div>
                    
            </form>
        
        </div><! --/row -->
    </div><! --/container -->
</div><! --/contact -->