<div id="contact">
    <div class="container marginBottom60" >
        <div class="row centered">

            <header>Say Hello!</header>

            <form id="form" name="sentMessage" class="topBefore" action="contact.php" method="POST">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <input id="name" type="text" placeholder="NAME" name="senderName">
                        
                        <input id="email" type="email" placeholder="E-MAIL" name="senderEmail">
                        
                        <input id="subject" type="text" placeholder="SUBJECT" name="senderSubject">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <textarea id="message" type="text" placeholder="MESSAGE" name="senderMessage"></textarea>
                        <input id="submit" type="submit" value="GO!">
                    </div>
                    
            </form>
        
        </div><! --/row -->
    </div><! --/container -->
</div><! --/contact -->