
        <div id="footerwrap">
            <div class="container">
                <div class="row centered">
                    <div class="col-lg-4">
                        <p>© <b>CAITLYN KODRIC</b></p>
                    </div>
                    <div class="col-lg-4">
                        <p>University of Waterloo | Waterloo, Ontario</p>
                    </div>
                    <div class="col-lg-4">
                        <p><a href="mailto:ckodric@gmail.com" class="linkFFF">ckodric@gmail.com</a> | <a href="mailto:cmykodri@edu.uwaterloo.ca" class="linkFFF">cmykodri@edu.uwaterloo.ca</a></p>
                    </div>
                
                </div>
            
            </div>
        </div>


